            <header class="app-header flex items-center px-5 gap-4">

                <!-- Brand Logo -->
                <a class='logo-box' href='index.html'>
                    <img src="assets/images/logo-sm.png" class="h-6" alt="Small logo">
                </a>

                <!-- Sidenav Menu Toggle Button -->
                <button id="button-toggle-menu" class="nav-link p-2 waves-effect me-auto">
                    <span class="sr-only">Menu Toggle Button</span>
                    <span class="flex items-center justify-center h-6 w-6">
                        <i class="ph ph-list text-2xl"></i>
                    </span>
                </button>

                <div class="md:flex hidden items-center relative">
                    <div>
                        <button data-fc-type="dropdown" type="button" class="btn bg-primary text-white">
                            Primary <i class="bx bx-chevron-down text-base"></i>
                        </button>

                        <div class="fc-dropdown-open:opacity-100 hidden opacity-0 w-44 min-w-[120px] z-50 transition-[margin,opacity] duration-300 mt-2 bg-white shadow-md rounded-lg p-2">
                            <a class="flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100" href="#">
                                Action
                            </a>
                            <a class="flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100" href="#">
                                Another action
                            </a>
                            <a class="flex items-center py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100" href="#">
                                Something else here
                            </a>
                        </div>
                    </div>
                </div>
            </header>
