    <!-- Sidenav Menu Start -->
    <div class="app-menu">
        <a class='logo-box' href='#'>
            <img src="assets/images/logo-light.png" class="logo-light h-6" alt="Light logo">
            <img src="assets/images/logo-dark.png" class="logo-dark h-6" alt="Dark logo">
        </a>
        <!--- Menu -->
        <div data-simplebar>
            <ul class="menu" data-fc-type="accordion">
                <li class="menu-title">Menu</li>
                <li class="menu-item">
                    <a class='menu-link waves-effect' [routerLink]="['/dashboard']">
                        <span class="menu-icon"><i class="ph-duotone ph-house"></i></span>
                        <span class="menu-text"> Dashboard </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link waves-effect' [routerLink]="['/accounts/create']">
                        <span class="menu-icon"><i class="ph-duotone ph-calendar"></i></span>
                        <span class="menu-text"> Add new account </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link waves-effect' [routerLink]="['/accounts/list']">
                        <span class="menu-icon"><i class="ph-duotone ph-calendar"></i></span>
                        <span class="menu-text"> View accounts </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link waves-effect' [routerLink]="['/contacts/create']">
                        <span class="menu-icon"><i class="ph-duotone ph-table"></i></span>
                        <span class="menu-text"> Create contact </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link waves-effect' [routerLink]="['/contacts/list']">
                        <span class="menu-icon"><i class="ph-duotone ph-table"></i></span>
                        <span class="menu-text"> View contacts</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link' [routerLink]="['/sales/create']">
                        <span class="menu-icon"><i class="ph-duotone ph-chart-bar"></i></span>
                        <span class="menu-text">Create Deals/Sales </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link' [routerLink]="['/sales/list']">
                        <span class="menu-icon"><i class="ph-duotone ph-chart-bar"></i></span>
                        <span class="menu-text">View Deals/Sales </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link' [routerLink]="['/task/add']">
                        <span class="menu-icon"><i class="ph-duotone ph-chart-bar"></i></span>
                        <span class="menu-text"> Add task </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link' [routerLink]="['/task/list']">
                        <span class="menu-icon"><i class="ph-duotone ph-chart-bar"></i></span>
                        <span class="menu-text">Task list</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link' [routerLink]="['/user/create']">
                        <span class="menu-icon"><i class="ph-duotone ph-chart-bar"></i></span>
                        <span class="menu-text">Create user</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link' [routerLink]="['/user/list']">
                        <span class="menu-icon"><i class="ph-duotone ph-chart-bar"></i></span>
                        <span class="menu-text">View users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link' [routerLink]="['/vendor/create']">
                        <span class="menu-icon"><i class="ph-duotone ph-chart-bar"></i></span>
                        <span class="menu-text">Create vendor</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class='menu-link' [routerLink]="['/vendor/list']">
                        <span class="menu-icon"><i class="ph-duotone ph-chart-bar"></i></span>
                        <span class="menu-text">Vendor list</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Sidenav Menu End  -->
